.about {
  margin: 100px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .about__intro {
    text-align: center;
    .about__subtitle {
      font-size: 11px;
      color: var(--top-text-color);
      font-weight: 900;
      font-family: var(--paragraph-font);
      letter-spacing: 2px;
    }
    .about__title {
      margin: 20px 0;
      font-size: 42px;
      font-family: var(--header-font);
      color: var(--header-text-color);
      font-weight: 400;
      .about__highlight {
        color: var(--highlight-text);
      }
    }
    .about__text {
      color: var(--paragraph-color);
      font-size: 19px;
      font-family: var(--paragraph-font);
    }
  }
  .about__content {
    .about__content_top {
      display: flex;
      /* align-items: center; */
      justify-content: space-around;
      flex-direction: row;
      flex: 1;
      margin: 50px;
      height: auto;
      .about__image {
        width: 57%;
        .about__image_png {
          border-radius: 5%;
        }
      }
      .about__card {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 35%;
        background-color: var(--background-header-main);
        border-radius: 5%;
        .about__label {
          margin: 15px 0;
          color: var(--top-text-color);
          font-size: 11px;
          font-family: var(--paragraph-font);
          font-weight: 900;
          letter-spacing: 1.5px;
        }
        .about__heading {
          margin: 10px 0;
          font-size: 25px;
          font-family: var(--header-font);
          color: var(--header-text-color);
          font-weight: 400;
        }
        /* border: 0.1px solid var(--border-color); */
        .about__pargh_divider {
          margin: 10px 0;
          border: 2.5px solid var(--top-text-color);
          width: 15%;
          overflow: visible;
          text-align: center;
        }
        .about__desc {
          margin: 10px 15px;
          font-size: 17px;
          font-family: var(--paragraph-font);
          color: var(--paragraph-color);
        }
        .about__link {
          margin: 20px 0;
          text-align: center;
          color: var(--text-button);
          text-decoration: none;
          font-size: 14px;
          font-family: var(--paragraph-font);
          padding: 14px 30px;
          border-radius: 6px;
          font-weight: 700;
          background-color: var(--button-book);
        }
      }
    }
    .about__content_bottom {
      display: flex;
      flex: 1;
      margin: 0 50px;
      /* align-items: center; */
      justify-content: space-around;
      flex-direction: row;
      height: auto;
      .about__quote {
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 35%;
        background-color: var(--highlight-text);
        border-radius: 5%;
        .about__quote-text{
            font-size: 22px;
            color: var(--text-button);
            font-family: var(--header-font);
            font-weight: 400;
        }
        .about__since{
            font-size: 11px;
            font-family: var(--paragraph-font);
            color: var(--description-text);
            font-weight: 900;
            letter-spacing: 2px;
        }
      }
      .about__image {
        width: 57%;
        .about__image_png {
          border-radius: 5%;
        }
      }
    }
  }
}
