.header {
  background-color: var(--background-header-main);
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 40px;

    background-color: var(--background-top-header-color);
    font-size: 15px;
    font-weight: 700;
    font-family: var(--paragraph-font);
    .header__phone {
      color: var(--paragraph-color);
    }
    .header__slogan {
      color: var(--top-text-color);
    }
    .header__email {
      color: var(--paragraph-color);
    }
  }
  .header__main {
    background-size: cover;
    .header__nav-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      margin: 20px 0;
      .header__logo {
        width: 165.2px;
        height: 39.64px;
      }
      .nav__list {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        .nav__item {
          display: flex;
          justify-content: space-around;
          .nav__link {
            padding: 0 10px;
            font-family: var(--paragraph-font);
            font-size: 15px;
            font-weight: 700;
            color: var(--paragraph-color);
          }
        }
      }
      .header__cta-btn {
        text-align: center;
        color: var(--text-button);
        text-decoration: none;
        font-size: 14px;
        font-family: var(--paragraph-font);
        padding: 14px 30px;
        border-radius: 6px;
        font-weight: 700;
        background-color: var(--button-book);
      }
    }

    .header__hero {
      display: flex;
      margin: 0 auto;
      flex: 1;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      @media (min-width: 1280px) {
        max-width: 770px;
        height: 370px;
      }

      .hero__title {
        text-align: center;
        /* height: 168px; */
        font-family: var(--header-font);
        font-size: 70px;
        font-weight: 400;
        .hero__highlight {
          color: var(--highlight-text);
        }
      }
      .hero__socials {
        width: 60%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .hero__social-link {
          letter-spacing: 2px;
          color: var(--top-text-color);
          font-size: 11px;
          font-family: var(--paragraph-font);
          font-weight: 900;
        }
      }
    }
  }
  .header__img {
    height: 650px;
    overflow: hidden;
    /* width: 100%; */
    background: url("../img/header-background.png") no-repeat center/cover;
  }
}
