.discount {
  margin: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  @media (min-width: 768px) {
    justify-content: flex-start;
    height: 45vh;
  }
  @media (min-width: 1400px) {
    margin: 100px auto;
    max-width: 1200px;
  }
  background-image: url("../img/svg/background-discount.svg");
  border-radius: 6px;
  
  
  .discount__block {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 50px;
    gap: 25px;
    @media (min-width: 768px) {
      align-items: flex-start;
      text-align: left;
    }
    .discount__subtitle {
      font-size: 11px;
      color: var(--description-text);
      font-weight: 900;
      font-family: var(--paragraph-font);
      letter-spacing: 2px;
    }
    .discount__title {
      font-size: 42px;
      font-family: var(--header-font);
      color: var(--text-button);
      font-weight: 400;
    }
    .discount__desc {
      font-size: 19px;
      font-family: var(--paragraph-font);
      color: var(--background-header-main);
      font-weight: 700;
    }
    .discount__buttons {
      display: flex;
      flex-direction: column;
      @media (min-width: 400px) {
        flex-direction: row;
      }
      .discount__btn {
        /* margin: 0 10px; */
        text-decoration: none;
        padding: 15px 25px;
        font-size: 14px;
        font-family: var(--paragraph-font);
        color: var(--text-button);
        background-color: var(--top-text-color);
        border-radius: 6px;
        font-weight: 700;
      }
      .discount__btn_opacity {
        text-decoration: none;
        margin: 10px 0;
        @media (min-width: 400px) {
          margin: 0 10px;
        }
        padding: 15px 25px;
        font-size: 14px;
        font-family: var(--paragraph-font);
        color: var(--background-header-main);
        border-radius: 6px;
        font-weight: 700;
        border: 1px solid var(--background-header-main);
      }
    }
  }
}
