.difference {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/woman-playing-on-piano.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size: 11px;
  }
  
  .difference__subtitle {
    color: var(--description-text);
    font-weight: 900;
    font-family: var(--paragraph-font);
    letter-spacing: 2px;
  }
  .difference__title {
    font-size: 46px;
    font-weight: 400;
    
    font-family: var(--header-font);
    color: var(--text-button);
    /* padding-bottom: -30px; */
    @media (min-width: 768px) {
      font-size: 63px;
    }
    @media(min-width: 1000px){
      font-size: 70px;
    }
  }
  .difference__desc {
    margin: 40px 0 50px 0;
    font-size: 19px;
    font-family: var(--paragraph-font);
    color: var(--background-header-main);
    font-weight: 700;
  }
  .difference__buttons {
    display: flex;
    flex-direction: column;
    margin: 30px;
    @media (min-width: 480px) {
      flex-direction: row;
    }
    align-items: center;
    /* margin-top: 50px; */
    .difference__btn {
      margin: 10px 0;
      @media (min-width: 480px) {
        margin: 0 10px;
      }
      text-decoration: none;
      padding: 15px 25px;
      font-size: 15px;
      font-family: var(--paragraph-font);
      color: var(--text-button);
      background-color: var(--top-text-color);
      border-radius: 6px;
      font-weight: 700;
    }
    .difference__btn_opacity {
      text-decoration: none;
      margin: 0 10px;
      padding: 15px 25px;
      font-size: 15px;
      font-family: var(--paragraph-font);
      color: var(--text-button);
      border-radius: 6px;
      font-weight: 700;
      border: 1px solid var(--background-header-main);
    }
  }

