.footer {
  display: flex;
  height: 55%;
  padding: 30px 20px;
  background-color: var(--header-text-color);
  justify-content: center;
  flex-direction: column;

  gap: 20px;
  .footer__section {
    @media (min-width: 1200px) {
      height: 40vh;
      margin: 40px auto;
      max-width: 1200px;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
    }

    .footer__top {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      gap: 10px;
      @media (min-width: 1000px) {
        flex-direction: row;
        gap: 0;
      }
      .footer__phone {
        text-decoration: none;
        color: var(--white-color);
        font-size: 15px;
        font-family: var(--paragraph-font);
        color: var(--background-header-main);
        font-style: italic;
        font-weight: 700;
        text-decoration: underline;
      }
      .footer__logo {
        width: 150px;
      }
      .footer__email {
        text-decoration: none;
        color: var(--white-color);
        font-size: 15px;
        font-family: var(--paragraph-font);
        color: var(--background-header-main);
        font-style: italic;
        font-weight: 700;
        text-decoration: underline;
      }
    }
    .footer__desc {
      margin: 15px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 19px;
      font-family: var(--paragraph-font);
      color: var(--background-header-main);
      font-weight: 700;
    }
    .footer__menu {
      margin: 15px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      flex-direction: column;
      @media (min-width: 1000px) {
        flex-direction: row;
      }
      .footer__link {
        text-decoration: none;
        color: var(--footer-nav-text);
        font-size: 16px;
        font-family: var(--paragraph-font);
        font-weight: 700;
      }
    }
    .footer__socials {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
  }
}
